<div class="w-full bg-cream-400 p-12 text-center">
  <p class="mb-4">
    Contact me: <span class="text-purple-400">johndoe@gmail.com</span>
    <hr />
    <p class="mt-4 cursor-pointer text-gray-400">Download Resume</p>
  </p>
</div>
