---
export interface Props {
  title: string;
  color: string;
}
const { title, color } = Astro.props as Props;
---

<div
  style={{ backgroundColor: color }}
  class="inline-block py-2 px-3 rounded-lg"
>
  <p class="text-sm text-white">{title}</p>
</div>
